.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  margin: 0;
}

.logo {
  object-fit: contain;
  display: block;
}

.logo-scoops {
  width: 350px;
  height: 350px;
}

.logo-found {
  width: 220px;
  height: 220px;
}

.main .row {
  display: flex;
  flex-wrap: nowrap; /* Prevents image from dropping */
  align-items: flex-start; /* Align top of columns */
  gap: 2rem; /* optional spacing between columns */
}

/* Mobile responsive */
@media (max-width: 720px) {
  .main .row {
    flex-direction: column;
  }
}


@media (max-width: 720px) {
  .logo-scoops {
    width: 220px;
    height: 220px;
  }
  .logo-found {
    width: 150px;
    height: 150px;
  }
  .logo-image {
    gap: 40px;
  }
}

